@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #4a5c5b;
  color: lightgray;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #4a5c5b;
}

::-webkit-scrollbar-thumb {
  background-color: #F87171;
  border-radius: 4px;
}