@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import 'react-responsive-modal/styles.css';

body {
  background-color: #202F3B;
  color: lightgray;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #202F3B;
}

::-webkit-scrollbar-thumb {
  background-color: #F87171;
  border-radius: 4px;
}

.react-responsive-modal-overlay, 
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .35s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#F8719D, #EF4444)
}

.link-underline:hover {
  background-size: 100% 4px;
  background-position: 0 100%;
}

.rc-slider .rc-slider-rail {
  background-color: #202F3B;
}

.rc-slider .rc-slider-track {
  background-color: #F87171;
}